.main-dashboard {
    width: calc(100% - 20%);
    padding: 30px;
}

.profile-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.profile-stats {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-account {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.profile-handles {
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.profile-info {
    background: var(--primary-color);
    border-radius: 10px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}

.profile-image {
    border: 1px solid red;
    width: 100%;
    height: calc(100% - 60%);
    display: flex;
    justify-content: center;
    align-items: end;
    background: white;
    position: relative;
}

.profile-image img {
    position: absolute;
    bottom: -40px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--secondary-color);
    background-size: cover;
    background-position: center;
}

/* Profile Details Container */
.profile-details {
    width: 100%;
    height: calc(100% - 20%);
}

/* Profile Details Form */
.profile-details form {
    height: 100%;
}

/* Form Group Style */
.form-group {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    gap: 20px;
}
/* Form Class Container */
.form-class {
    width: 100%;
    margin-top: 20px;
    height: 30%;
}

.form-g {
    width: 100%;
}
/* Input Fields — inside .form-class and .form-g */
.form-class input,
.form-g input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 5px;
    background: none;
    color: white;
    outline: none;
}

/* Label Styling — inside .form-class and .form-g */
.form-class label,
.form-g label {
    color: white;
    margin-bottom: 10px;
    display: block;
}

.form-class button {
    padding: 10px;
    color: white;
    background: var(--secondary-color);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
